<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Painel Administrativo - Pizzaria JSX</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	<link rel="icon" href="/image/favicon.png"/>
	<script src="https://code.jquery.com/jquery-3.1.1.1.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>
    
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand navbar-toggle pull-left" href="#">Painel Administrativo - Pizzaria JSX</a>
				</div>
				<a class="btn btn-primary" th:href="@{/logoutadm}">
					<i class="bi bi-pencil-square"></i> LogOut</a>
				
			</div>
		</nav>
	</header>
	
	<div class="layout-main">
	
	    <aside>
	        <nav class="sidebar  sidebar-open">
	            <ul class="nav nav-pills">
	                <li class="nav-item"><a class="nav-link " href="/homeadministrativo"> <i
	                        class="oi oi-home"></i> <span>Home</span>
	                </a></li>
					
	            </ul>
	
	            <ul class="nav nav-pills">
	                <li class="nav-item"><span class="nav-link active">Clientes</span></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="/cadastrar"> <i class="oi oi-plus"></i>
	                    <span>Cadastrar </span>
	                </a></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="/lista"> <i class="oi oi-spreadsheet"></i>
	                    <span>Listar </span>
	                </a></li>
	            </ul>
				<ul class="nav nav-pills">
	                <li class="nav-item"><span class="nav-link active">Pizzas</span></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="/cadastrarpizza"> <i class="oi oi-plus"></i>
	                    <span>Cadastrar</span>
	                </a></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="/listapizza"> <i class="oi oi-spreadsheet"></i>
	                    <span>Listar</span>
	                </a></li>
	            </ul>
				<ul class="nav nav-pills">
	                <li class="nav-item"><span class="nav-link active">Bebidas</span></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="/cadastrarbebida"> <i class="oi oi-plus"></i>
	                    <span>Cadastrar</span>
	                </a></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="/listabebida"> <i class="oi oi-spreadsheet"></i>
	                    <span>Listar</span>
	                </a></li>
	            </ul>
				<ul class="nav nav-pills">
	                <li class="nav-item"><span class="nav-link active">Pedidos</span></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="/cardapioadm"> <i class="oi oi-plus"></i>
	                    <span>Inserir novo pedido</span>
	                </a></li>
	                <li class="nav-item"><a class="nav-link"
	                                        href="/listapedido"> <i class="oi oi-spreadsheet"></i>
	                    <span>Acompanhar pedidos</span>
	                </a></li>
	            </ul>
	        </nav>
	    </aside>
	
	    <section class="layout-content">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Pizzas</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/cadastrarpizza" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Cadastrar Pizzas</span>
	                </a>
					
	            </div>
	        </nav>
	
	        <div class="container">
				<div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>
	            <p>
	                <i class="oi oi-magnifying-glass"></i><span></span>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNome"
	                        aria-controls="collapseNome">Nome
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCPf"
	                        aria-controls="collapseCargo">Tamanho
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTelefone"
	                        aria-controls="collapseData">Valor
	                </button>
	            </p>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseNome">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/administrativo/clientes/buscar/nome">
	                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
	                                       name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseCpf">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/administrativo/clientes/buscar/cargo">
	                                <input class="form-control mr-sm-2" type="search" placeholder="cpf" aria-label="Search"
	                                       name="cpf" data-mask="000.000.000-00"
										   data-mask-selectonfocus="true"/>
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseTelefone">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/administrativo/clientes/buscar/data">
	                                <input class="form-control mr-sm-2" type="search" placeholder="telefone" aria-label="Search"
	                                       name="telefone" data-mask="(00) 00000-0000"
										   data-mask-selectonfocus="true"/>
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	
	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Nome da Pizza</th>
	                        <th>Tamanho</th>
	                        <th>Valor</th>
	                        <th>Descrição</th>
	                        <th>Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr>
	                        <tr scope="row" th:each="pizzas : ${pizzaList}">

								<td th:text="${pizzas.pizzaid}"></td>
								<td th:text="${pizzas.nomepizza}"></td>
								<td th:text="${pizzas.tampizza}"></td>
								<td th:text="${pizzas.precopizza}"></td>
								<td th:text="${pizzas.descricao}"></td>
								<td>
									<a class="btn btn-primary" th:href="@{editarpizza/{pizzaid}(pizzaid=${pizzas.pizzaid})}">
										<i class="bi bi-pencil-square"></i> Editar</a>
			
									<a class="btn btn-danger" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${pizzas.pizzaid }"><span class="glyphicon glyphicon-trash"></span>
										<i class="bi bi-x-square"></i> Remover</a>

										<div class="modal modal-warning fade in" th:id="modal-warning+${pizzas.pizzaid }" >
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
															<span aria-hidden="true">×</span></button>
														<h5 class="modal-title"></h5>
													</div>
													<div class="modal-body">
														<h3>Deseja realmente excluir o cadastro desta pizza?</h3>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Não</button>
														<a type="button" class="btn btn-outline" th:href="@{removerpizza/{pizzaid}(pizzaid=${pizzas.pizzaid})}"><i class="fa fa-check"></i>&nbsp;Sim</a>
													</div>
												</div>
											</div>
										</div>
								</td>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </section>

	</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    
	$(document).ready(function(){
	    $(".navbar-toggle").click(function(){
	        $(".sidebar").toggleClass("sidebar-open");
	    })
	});

</script>
</body>
</html>		